body {
  margin: 0;
  padding: 0;
}

#index {
  background-image: url(../public/storage/image/1795760_l.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #333333;
  font-family: serif;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: serif;
}

.logo {
  text-align: center;
  border-top: double 8px #333333;
  border-bottom: solid 3px #333333;
  margin: 10px 10px 0;
}

.logo a {
  font-size: 200px;
  margin: 0 auto;
  line-height: 1;
}

.navbar-control {
  font-size: 40px;
  margin: 0 10px 0;
  text-align: center;
  border-bottom: double 8px #333333;
}

.navbar-item {
  display: inline-block;
}

.scoop {
  margin: 0 300px 0;
}

header {
  width: 100%;
  position: fixed;
  background-image: url(../public/storage/image/1795760_l.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  transition: all 0.9s;
}

header.is_scroll {
  display: none;
}

header.is_scroll ~ .main {
  margin: 0 80px 0;
  padding-top: 0;
}

.main {
  margin: 0 80px 0;
  padding-top: 304px;
}

.top-news {
  height: 486px;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px #333333;
}

.top-image {
  width: 640px;
  height: 360px;
  margin-left: 10px;
  object-fit: cover;
  float: left;
}

.top-title {
  text-align: center;
  margin: 0;
  font-size: 60px;
  padding: 10px 0 10px;
}


.top-text {
  font-size: 18px;
  width: 440px;
  height: 360px;
  margin-left: 13px;
  float: left;
}

.post {
  height: 220px;
  margin-bottom: 80px;
}

.article-image {
  width: 360px;
  height: 220px;
  object-fit: cover;
  float: right;
}

.title {
  height: 150px;
  margin: 0;
  font-size: 50px;
}

.date {
  height: 30px;
  font-color: #999999;
}

.title-date {
  width: 300px;
  float: left;
  margin: 20px 0 20px 10px;
}

.text {
  font-size: 18px;
  width: 400px;
  float: left;
  margin: 20px 0;
}

.login {
  margin-right: 100px;
}

.signup {
  margin-left: 100px;
}