body {
  margin: 0;
  padding: 0;
}

#index {
  background-image: url(/images/1795760_l.jpg?91946cfb6bca029761002f86aebb1d9f);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.page-title {
  font-size: 56px;
  text-align: center;
  border-bottom: solid 2px #333333;
  margin-top: 30px;
}

a {
  color: #333333;
  font-family: serif;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: serif;
}

.logo {
  text-align: center;
  border-top: double 8px #333333;
  border-bottom: solid 3px #333333;
  margin: 10px 10px 0;
}

.logo a {
  font-size: 200px;
  margin: 0 auto;
  line-height: 1;
}

.navbar-control {
  font-size: 40px;
  padding: 0 70px;
  margin: 0 10px 0;
  text-align: center;
  border-bottom: double 8px #333333;
}

.user-id {
  display: block;
  float: left;
}

.logout {
  display: block;
  float: right;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2px;
  background-image: url(/images/1795760_l.jpg?91946cfb6bca029761002f86aebb1d9f);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  transition: all 0.9s;
}

header.is_scroll {
  display: none;
}

header.is_scroll ~ .main {
  margin: 0 80px 0;
  padding-top: 0;
}

.main {
  margin: 0 80px 0;
  padding-top: 304px;
}

.top-news {
  height: 486px;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px #333333;
}

.top-image {
  width: 640px;
  height: 360px;
  margin-left: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}

.top-title {
  text-align: center;
  margin: 0;
  font-size: 60px;
  padding: 10px 0 10px;
}

.top-text {
  width: 440px;
  height: 360px;
  margin-left: 13px;
  float: left;
}

.post {
  height: 220px;
  margin: 0;
}

.article-image {
  width: 360px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
}

.title {
  width: 700px;
  height: 190px;
  margin: 0;
  font-size: 50px;
}

.date {
  width: 700px;
  height: 30px;
}

.title-date {
  float: left;
  margin-left: 10px;
}

.my-img {
  width: 300px;
  height: 300px;
  float: left;
  margin: 0 30px 0 20px;
}

.my-name {
  font-family: serif;
  font-size: 32px;
  font-weight: bold;
}

.date,
.gender,
.hobby,
.introduction {
  font-family: serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.futo {
  font-weight: bold;
}

.clear-fix {
  clear: both;
}

.user-information {
  margin-top: 20px;
}

.edit {
  text-align: right;
}

h2 {
  margin: 0 10px 0;
  text-align: center;
  border-bottom: solid 2px #333333;
}

.form-control {
  width: 800px;
  margin: 0 40px 0 30px;
  display: inline-block;
}

.search {
  width: 900px;
  margin: 60px auto 40px;
}

.search-bar {
  width: 800px;
}

.search .fas {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  background: none;
}

.search .fas:hover {
  color: #FF0000;
}

.news-table {
  font-size: 24px;
  width: 1000px;
  margin: 80px auto 0;
}

td {
  padding: 20px 0;
}

.input {
  font-size: 24px;
  font-family: serif;
  width: 800px;
  border-bottom: 2px solid #333333;
  background: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
}

.auto_resize {
  font-size: 24px;
  font-family: serif;
  width: 800px;
  height: 40px;
  border-bottom: 2px solid #333333;
  background: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  overflow: hidden;
}

.auto_resize,
.input:focus {
  outline: none;
}

.news-form {
  text-align: center;
  margin: 100px 0;
}

.create-title {
  margin: 80px 0 10px;
  font-size: 40px;
  text-align: center;
  border-bottom: solid 2px #333333;
}

#img_upload {
  position: relative;
  overflow: hidden;
  height: 72px;
  width: 72px;
  margin: 100px auto;
}

.fa-camera {
  position: absolute;
  top: 0;
  left: 0;
}

#img_upload_form {
  position: absolute;
  top: 0;
  right: 0;
  height: 72px;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.btn-create {
  margin: 0 auto 100px;
  text-align: center;
}

.pagination {
  height: 50px;
}

#login {
  padding: 0;
}

#login .page-title {
  margin: 60px 0;
}

#login form {
  text-align: center;
}

#login .input {
  margin: 50px 0;
  border-radius: 10px;
  border: none;
}

#login .button {
  margin: 30px 0;
}

