html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/images/1795760_l.jpg?91946cfb6bca029761002f86aebb1d9f);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  padding-top: 304px;
}

a {
  color: #333333;
  font-size: 1.6rem;
  font-family: serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: serif;
}

p {
  font-size: calc(1.2rem + 0.6vw);
}

#title {
  font-size: calc(1.8rem + 3.0vw);
}

#h2 {
  font-size: calc(2.0rem + 1.6vw);
}

.logo a {
  font-size: calc(2rem + 12.0vw);
}

.navbar-item {
  font-size: calc(1.4rem + 2.0vw);
}

i {
  font-size: calc(2.0rem + 1.4vw);
}

.date p {
  font-size: calc(1.4rem + 0.8vw);
}

.input,
.auto_resize,
.search {
  font-size: calc(1.6rem + 1.0vw);
}

.logo {
  text-align: center;
  border-top: double 8px #333333;
  border-bottom: solid 3px #333333;
  margin: 10px 10px 0;
}

.logo a {
  margin: 0 auto;
  line-height: 1;
}

.navbar-control {
  padding: 0 70px;
  margin: 0 10px 0;
  text-align: center;
  border-bottom: double 8px #333333;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-image: url(/images/1795760_l.jpg?91946cfb6bca029761002f86aebb1d9f);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

header.is_scroll {
  display: none;
}

header.is_scroll ~ .main {
  margin: 0 80px 0;
  padding-top: 0;
}

.my-name {
  font-family: serif;
  font-size: 32px;
  font-weight: bold;
}

.date,
.gender,
.hobby,
.introduction {
  font-family: serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.futo {
  font-weight: bold;
}

.user-information {
  margin-top: 60px;
}

.edit {
  text-align: right;
}

.search {
  font-family: serif;
  width: 100%;
  border-bottom: 2px solid #333333;
  background: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
}

.search:focus {
  outline: none;
}

.fa-search {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  background: none;
  padding: 0;
  padding-top: 5px;
}

.fa-search:hover {
  color: #FF0000;
}

.input {
  font-family: serif;
  width: 75%;
  border-bottom: 2px solid #333333;
  background: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
}

.auto_resize {
  font-family: serif;
  width: 75%;
  height: 40px;
  border-bottom: 2px solid #333333;
  background: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  overflow: hidden;
}

.auto_resize,
.input:focus {
  outline: none;
}

.news-form {
  text-align: center;
  margin: 100px 0;
}

#img_upload {
  position: relative;
  overflow: hidden;
  height: 70px;
  width: 70px;
  margin: 100px auto;
}

.fa-camera {
  position: absolute;
  top: 0;
  left: 0;
}

#img_upload_form {
  position: absolute;
  top: 0;
  right: 0;
  height: 72px;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.pagination {
  height: 50px;
}

.select-gender {
  width: 500px;
  margin: 0 auto;
}

.select-gender span {
  font-family: serif;
  font-size: 24px;
  font-color: #999;
}

