html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/images/1795760_l.jpg?91946cfb6bca029761002f86aebb1d9f);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  font-family: serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: serif;
}

.logo {
  text-align: center;
  border-top: double 8px #333333;
  border-bottom: solid 3px #333333;
  margin: 10px 10px 0;
}

.logo a {
  font-size: 20rem;
  margin: 0 auto;
  line-height: 1;
}

.navbar-control {
  font-size: 40px;
  margin: 0 10px 0;
  text-align: center;
  border-bottom: double 8px #333333;
}

.navbar-item {
  display: inline-block;
}

.scoop {
  margin: 0 300px 0;
}

header {
  width: 100%;
  position: fixed;
  background-image: url(/images/1795760_l.jpg?91946cfb6bca029761002f86aebb1d9f);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 5;
}

header.is_scroll {
  display: none;
}

.container {
  padding-top: 304px;
}

.login {
  margin-right: 100px;
}

.signup {
  margin-left: 100px;
}

